<div class="bg-light p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h1 class="display-4">Task Manager</h1>
        <p class="lead"> Free up your mental space </p>
        <hr class="my-4">
        <p style="font-size:24px"> Organize it all with Task Manager </p>
      </div>
      <div class="col-lg-6 col-md-12">
        <img src="https://images.unsplash.com/photo-1493934558415-9d19f0b2b4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2836&q=80" style="width:100%">
      </div>
    </div>
  </div>
</div>